---
# Handlers for DebVisor VNC/noVNC console addon

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  become: yes

- name: Reload nginx
  ansible.builtin.systemd:
    name: nginx
    state: reloaded
  become: yes
