# ShellCheck configuration for DebVisor project
# https://github.com/koalaman/shellcheck/wiki/Directive

# SC2034: Variable appears unused
# Many variables are exported for use by sourced scripts or set for documentation
disable=SC2034

# SC2155: Declare and assign separately to avoid masking return values
# This is a style preference; masking is intentional for simple assignments
disable=SC2155

# SC2119/SC2120: Function references arguments / Use "$@" if function's $1 should mean script's $1
# Functions intentionally don't always use passed arguments
disable=SC2119
disable=SC2120
