name: Dependency Review

on:
  pull_request:
    branches: [ main, develop ]

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  review:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
