name: Documentation Integrity
on:
  push:
    branches:
    - main
    - develop
  pull_request:
    paths:
    - '**.md'
jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Link Checker
      uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0
      with:
        args: --verbose --no-progress './**/*.md'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  spell-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Check Spelling
      uses: crate-ci/typos@40ff9f1340592d65961ba3bcabac76f810c44d9c
      with:
        files: ./**/*.md
'on':
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
