name: Release Please
on:
  push:
    branches:
    - main
defaults:
  run:
    shell: bash
permissions:
  contents: write
  pull-requests: write
  actions: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
    - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38
      id: release
      with:
        token: ${{ secrets.RELEASE_PLEASE_TOKEN || github.token }}
'on':
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
